

<div class="container">
  <img src="./assets/img/7.jpg" alt="Snow" style="width:100%; max-height:min-content;">
  <div class="bottom-left"></div>
  <div class="top-left"><b>Enjoy Every Bite!!!</b>
  <p><b>Be Happy :)</b></p>
  </div>
  <div class="top-right">
    Open: Mon-Sat
    <p>10AM-10PM</p>
  </div>
  <div class="bottom-right"></div>
  <div class="centered"></div>
</div>

<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Contact Us:
    <p>bakedinheaven@gmail.com</p>
    <p>+91865974329</p>
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>